@theme-color: #3f51b5;

.client-list {
    margin-top: 60px;
    margin-bottom: 60px;

    th.mat-sort-header-sorted {
        color: black;
    }

    mat-icon:hover {
        cursor: pointer;
        color: @theme-color;
    }
}
