<div class="container form">
  <div class="contrast-container">
    <form #clientForm="ngForm" (ngSubmit)="submitClient()">
      <h2 class="section-header">Contact Information</h2>
      <div class="row">
        <div class="row-item col-sm-5">
          <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput type="date" [(ngModel)]="client.startDate" name="startDate">
          </mat-form-field>
        </div>
        <div class="row-item col-sm-7">
          <mat-form-field appearance="outline">
            <mat-label>Business Type</mat-label>
            <mat-select [(ngModel)]="client.businessType" name="businessType">
              <mat-option *ngFor="let t of businessType" [value]="t">
                {{t}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
       
      </div>
      <div class="row">
        <div class="row-item col-sm-10">
          <mat-form-field appearance="outline">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Company Name" type="text" [(ngModel)]="client.displayName" name="company">
          </mat-form-field>
        </div>
        <div class="col-sm-2">
          <mat-form-field appearance="outline">
            <mat-select placeholder="Term" [(ngModel)]="client.term" name="term">
              <mat-option *ngFor="let t of term" [value]="t">
                {{t}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="row-item col-sm-2">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" type="text" [(ngModel)]="client.title" name="title">
          </mat-form-field>
        </div>
        <div class="row-item col-sm-5">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" type="text" [(ngModel)]="client.firstName" name="first">
          </mat-form-field>
        </div>
        <div class="row-item col-sm-5">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" type="text" [(ngModel)]="client.lastName" name="last">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="row-item col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone number" type="tel" [(ngModel)]="client.phone" name="phone">
          </mat-form-field>
        </div>
        <div class="row-item col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email"  type="email" [(ngModel)]="client.email" name="email">
            <!-- <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="client.email" name="email"> -->
            <!-- <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error> -->
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="row-item col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Remark</mat-label>
            <textarea matInput placeholder="Any special requests" rows="5" [(ngModel)]="client.remark" name="remark"></textarea>
          </mat-form-field>
        </div>
      </div>
      <h2 class="section-header">Billing Address</h2>
      <div class="row">
        <div class="col-sm-6 row-item">
          <mat-form-field appearance="outline">
            <mat-label>Address 1</mat-label>
            <input matInput placeholder="Street and number" type="text" [(ngModel)]="client.billingAddress.address1"
              name="billingAddress1" >
          </mat-form-field>
        </div>
        <div class="col-sm-6 row-item">
          <mat-form-field appearance="outline">
            <mat-label>Address 2</mat-label>
            <input matInput placeholder="Suite, unit, building, floor, etc." type="text" [(ngModel)]="client.billingAddress.address2"
              name="billingAddress2" >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 row-item">
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" type="text" [(ngModel)]="client.billingAddress.city" name="billingCity"
         >
          </mat-form-field>
        </div>
        <div class="col-sm-4 row-item">
          <mat-form-field appearance="outline">
            <mat-label>State / Province</mat-label>
            <input matInput placeholder="State / Province" type="text" [(ngModel)]="client.billingAddress.state" name="billingState"
             >
          </mat-form-field>
        </div>
        <div class="col-sm-4 row-item">
          <mat-form-field appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input matInput placeholder="Zip Code" type="text" [(ngModel)]="client.billingAddress.zipCode" name="billingZipCode">
          </mat-form-field>
        </div>
      </div>

      <div class="row section-header">
        <div class="col-sm-6">
          <h2>Shipping Address</h2>
        </div>
        <div class="col-sm-6 same-as">
          <mat-checkbox (click)="copyBilling()" [(ngModel)]="sameAsBilling" name="sameAsBilling">Same as Billing
            Address</mat-checkbox>
        </div>
      </div>

      <div class="row">
        <div class="row-item col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Address 1</mat-label>
            <input matInput placeholder="Street and number" type="text" [(ngModel)]="client.shippingAddress.address1"
              name="shippingAddress1" [disabled]="sameAsBilling">
          </mat-form-field>
        </div>
        <div class="col-sm-6 row-item">
          <mat-form-field appearance="outline">
            <mat-label>Address 2</mat-label>
            <input matInput placeholder="Suite, unit, building, floor, etc." type="text" [(ngModel)]="client.shippingAddress.address2"
              name="shippingAddress2" [disabled]="sameAsBilling">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 row-item">
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="City" type="text" [(ngModel)]="client.shippingAddress.city" name="shippingCity"
              [disabled]="sameAsBilling">
          </mat-form-field>
        </div>
        <div class="col-sm-4 row-item">
          <mat-form-field appearance="outline">
            <mat-label>State / Province</mat-label>
            <input matInput placeholder="State / Province" type="text" [(ngModel)]="client.shippingAddress.state" name="shippingState"
              [disabled]="sameAsBilling">
          </mat-form-field>
        </div>
        <div class="col-sm-4 row-item">
          <mat-form-field appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input matInput placeholder="Zip Code" type="text" [(ngModel)]="client.shippingAddress.zipCode" name="shippingZipCode"
              [disabled]="sameAsBilling">
          </mat-form-field>
        </div>
      </div>

      <h2 class="section-header">Payment Information</h2>
      <div class="row">
        <div class="col-sm-6 row-item">
          <mat-form-field appearance="outline">
            <mat-label>Tax ID Type</mat-label>
            <mat-select [(ngModel)]="client.taxIDType" name="taxIDType">
              <mat-option *ngFor="let t of taxIDType" [value]="t">
                {{t}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-sm-6 row-item">
          <mat-form-field appearance="outline">
            <mat-label>Tax ID Number</mat-label>
            <input matInput placeholder="Ex. 90-8888888" type="text" [(ngModel)]="client.taxIDNumber" name="taxIDNumber"
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 row-item">
          <mat-form-field appearance="outline">
            <mat-label>Account Number</mat-label>
            <input matInput placeholder="Bank account number" type="text" [(ngModel)]="client.accoutNumber" name="accoutNumber"
            >
          </mat-form-field>
        </div>
        <div class="col-sm-12 row-item">
          <mat-form-field appearance="outline">
            <mat-label>Credit Type</mat-label>
            <mat-select [(ngModel)]="client.creditType" name="creditType">
              <mat-option *ngFor="let t of creditType" [value]="t">
                {{t}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 row-item">
          <mat-form-field appearance="outline">
            <mat-label>Credit Limit</mat-label>
            <input matInput placeholder="$" type="text" [(ngModel)]="client.creditLimit" name="creditLimit"
            >
          </mat-form-field>
        </div>
        <div class="col-sm-6 row-item">
          <mat-form-field appearance="outline">
            <mat-label>Payment Term</mat-label>
            <mat-select [(ngModel)]="client.paymentTerm" name="paymentTerm">
              <mat-option *ngFor="let t of paymentTerm" [value]="t">
                {{t}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
        <div class="row">
        <div class="col-sm-12 row-item">
          <mat-form-field appearance="outline">
            <mat-label>Credit Hold</mat-label>
            <mat-select [(ngModel)]="client.creditHold" name="creditHold">
              <mat-option *ngFor="let t of creditHold" [value]="t">
                {{t}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 row-item">
          <mat-form-field appearance="outline">
            <mat-label>Notes</mat-label>
            <textarea matInput placeholder="Notes on account and payment info" type="text" rows="5" [(ngModel)]="client.notes" name="notes"
            ></textarea>
          </mat-form-field>
        </div>
      </div>


      <div fxLayout="row" fxLayoutAlign="center" class="submit">
        <button type="submit" mat-raised-button color="primary" [disabled]="clientForm.invalid">{{submitButtonText}}</button>
      </div>
    </form>
  </div>
</div>