@container-top-bottom-margin: 60px;

.form {
    margin-top: @container-top-bottom-margin;
    margin-bottom: @container-top-bottom-margin;
    max-width: 800px;
    mat-form-field {
        display: inline;
    }

    .same-as {
        margin-top: 8px;
    }

    .section-header {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .row {
        &-item {
            padding: 0 10px;
        }
    }
    .term-select {
        height: 32px;
        width: 48px;
    }
    
    .submit {
        margin-top: 32px;
    }
}