<!-- <header>
  <div class="nav-bar">
    <a href="www.google.com" id="logo">Logo</a>
    <nav>
      <a href="#" id="menu-icon" class="glyphicon glyphicon-menu-hamburger">
        <mat-icon>menu</mat-icon>
      </a>
      <ul>
        <li><a href="index.html" [routerLinkActive]="'isActive'">Home</a></li>
        <li><a href="#" [routerLinkActive]="'isActive'">Invoice</a></li>
        <li><a href="#" [routerLinkActive]="'isActive'">Client</a></li>
      </ul>
    </nav>
  </div>
</header> -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/">Trucking Company</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Invoice
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/invoices">Invoices</a>
            <a class="dropdown-item" routerLink="/add-edit-invoice">New Invoice</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Client
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/clients">Clients</a>
            <a class="dropdown-item" routerLink="/add-edit-client">New Client</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>