@theme-color: #3f51b5;
@remove-color: red;

.mat-form-field {
    display: inline;
}

.container-item-description {
    background-color: aqua;
}

.container-list {
    &__table {
        border: 1px solid grey;
        border-radius: 3px;

        mat-icon {
            &:hover {
                cursor: pointer;
            }
        }

        .edit-icon {
            color: @theme-color;
        }
        .delete-icon {
            color: @remove-color;
            padding-left: 32px;
        }
    }
    margin-bottom: 32px;
}