<mat-card class="example-card">
  <mat-card-header>
    <a (click)="showContent()">
      <mat-card-title>
        <h3>Client: {{clientDetail.displayName}} </h3>
      </mat-card-title>
    </a>
  </mat-card-header>
  <mat-card-content *ngIf="isShowingContent">
    <div class="content-label">
      <h5>
        Client Name: {{clientDetail.firstName}} {{clientDetail.lastName}}
      </h5>
    </div>
    <div class="content-label">
      <h5>
        Phone: {{clientDetail.phone}}
      </h5>
    </div>
    <div class="content-label">
      <h5>
        Email: {{clientDetail.email}}
      </h5>
    </div>
    <div class="content-label">
        <h5>
          Address: {{clientDetail.billingAddress.street}} {{clientDetail.billingAddress.city}} {{clientDetail.billingAddress.state}}
          {{clientDetail.billingAddress.zipcode}}
        </h5>
      </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>