<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">LOGO</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li>
        <a mat-list-item [matMenuTriggerFor]="invoice">Invoices</a>
        <mat-menu #invoice="matMenu" [overlapTrigger]="false">
          <button mat-menu-item (click)="onClose('/invoices')">Invoices</button>
          <button mat-menu-item (click)="onClose('/add-edit-invoice')">New Invoice</button>
        </mat-menu>
      </li>
      <li>
        <a mat-list-item [matMenuTriggerFor]="client">Clients</a>
        <mat-menu #client="matMenu" [overlapTrigger]="false">
          <button mat-menu-item (click)="onClose('/clients')">Clients</button>
          <button mat-menu-item (click)="onClose('/add-edit-client')">New Client</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>