<div class="invoice">
  <div class="page-header">
    <h3>New Invoice</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="contrast-container">
        <div class="form">
          <form #clientForm="ngForm" (ngSubmit)="submitClient()">

            <!-- Begin Client Info-->
            <h5>Client Information</h5>
            <div class="row">
              <div class="row-item col-sm-12">
                <div class="client-name">
                  <mat-form-field appearance="outline">
                    <mat-label>Company Name</mat-label>
                    <input matInput placeholder="Company Name" [(ngModel)]="displayName" type="text" name="company"
                      (keyup)="searchClient(displayName)">
                  </mat-form-field>
                  <div class="client-list" *ngIf="(searchedClients.length > 0) && isSearchingClient">
                    <ul>
                      <li *ngFor="let client of searchedClients" (click)="selectClient(client)">{{client.displayName}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Client Info-->

            <!-- Begin Contact Information -->
            <!-- <h5>Contact Information</h5>
            <div class="row">
              <div class="row-item col-sm-10">
                <div class="client-name">
                  <mat-form-field appearance="outline">
                    <mat-label>Company Name</mat-label>
                    <input matInput placeholder="Company Name" [(ngModel)]="testText" type="text" name="company"
                      (keyup)="searchClient(testText)">
                  </mat-form-field>
                  <div class="client-list" *ngIf="(searchedClients.length > 0) && isSearchingClient">
                    <ul>
                      <li *ngFor="let client of searchedClients" (click)="selectClient(client)">{{client.displayName}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <mat-form-field appearance="outline">
                  <mat-label>Term</mat-label>
                  <mat-select [(ngModel)]="invoice.client.term" name="term">
                    <mat-option *ngFor="let t of term" [value]="t">
                      {{t}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="row-item col-sm-2">
                <mat-form-field appearance="outline">
                  <mat-label>Title</mat-label>
                  <input matInput placeholder="Title" [(ngModel)]="invoice.client.title" type="text" name="title">
                </mat-form-field>
              </div>
              <div class="row-item col-sm-5">
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="First Name" [(ngModel)]="invoice.client.firstName" type="text"
                    name="first">
                </mat-form-field>
              </div>
              <div class="row-item col-sm-5">
                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Last Name" [(ngModel)]="invoice.client.lastName" type="text" name="last">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="row-item col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-label>Phone</mat-label>
                  <input matInput placeholder="Phone number" [(ngModel)]="invoice.client.phone" type="tel" name="phone"
                    (input)="phoneChange()">
                </mat-form-field>
              </div>
              <div class="row-item col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" [(ngModel)]="invoice.client.email" type="email" name="email">
                </mat-form-field>
              </div>
            </div> -->
            <!-- End Contact Information -->

            <!-- Begin Billing Address -->
            <!-- <h5>Billing Address</h5>
            <div class="row">
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>Address 1</mat-label>
                  <input matInput placeholder="Street and number" [(ngModel)]="invoice.client.billingAddress.address1"
                    type="text" name="billingAddress1" (input)="billingAddress1Change($event)">
                </mat-form-field>
              </div>
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>Address 2</mat-label>
                  <input matInput placeholder="Suite, unit, building, floor, etc."
                    [(ngModel)]="invoice.client.billingAddress.address2" type="text" name="billingAddress2"
                    (input)="billingAddress2Change($event)">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>City</mat-label>
                  <input matInput placeholder="City" [(ngModel)]="invoice.client.billingAddress.city" type="text"
                    name="billingCity" (input)="billingCityChange($event)">
                </mat-form-field>
              </div>
              <div class="col-sm-4 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>State / Province</mat-label>
                  <input matInput placeholder="State / Province" [(ngModel)]="invoice.client.billingAddress.state"
                    type="text" name="billingState" (input)="billingStateChange($event)">
                </mat-form-field>
              </div>
              <div class="col-sm-4 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>Zip Code</mat-label>
                  <input matInput placeholder="Zip Code" [(ngModel)]="invoice.client.billingAddress.zipCode" type="text"
                    name="billingZipCode" (input)="billingZipCodeChange($event)">
                </mat-form-field>
              </div>
            </div> -->
            <!-- End Billing Address -->

            <!-- Begin Shipping Address -->
            <!-- <div class="row shipping-address-label">
              <div class="col-sm-6">
                <h5>Shipping Address</h5>
              </div>
              <div class="col-sm-6 same-as-billing-checkbox">
                <mat-checkbox (click)="copyBilling()" name="sameAsBilling">Same as Billing Address</mat-checkbox>
              </div>
            </div>
            <div class="row">
              <div class="row-item col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-label>Address 1</mat-label>
                  <input matInput placeholder="Street and number" [(ngModel)]="invoice.client.shippingAddress.address1"
                    type="text" name="shippingAddress1" [disabled]="sameAsBilling">
                </mat-form-field>
              </div>
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>Address 2</mat-label>
                  <input matInput placeholder="Suite, unit, building, floor, etc."
                    [(ngModel)]="invoice.client.shippingAddress.address2" type="text" name="shippingAddress2"
                    [disabled]="sameAsBilling">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>City</mat-label>
                  <input matInput placeholder="City" [(ngModel)]="invoice.client.shippingAddress.city" type="text"
                    name="shippingCity" [disabled]="sameAsBilling">
                </mat-form-field>
              </div>
              <div class="col-sm-4 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>State / Province</mat-label>
                  <input matInput placeholder="State / Province" [(ngModel)]="invoice.client.shippingAddress.state"
                    type="text" name="shippingState" [disabled]="sameAsBilling">
                </mat-form-field>
              </div>
              <div class="col-sm-4 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>Zip Code</mat-label>
                  <input matInput placeholder="Zip Code" [(ngModel)]="invoice.client.shippingAddress.zipCode"
                    type="text" name="shippingZipCode" [disabled]="sameAsBilling">
                </mat-form-field>
              </div>
            </div> -->
            <!-- End Shipping Address -->

            <!-- Begin Shipment Info-->
            <h5>Shipment Info</h5>
            <div class="row">
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>File Number</mat-label>
                  <input matInput placeholder="File number. Ex: 12FSD323..." name="file-number"
                    [(ngModel)]="invoice.shipment.fileNumber">
                </mat-form-field>
              </div>
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>Term</mat-label>
                  <mat-select [(ngModel)]="invoice.shipment.term" name="term">
                    <mat-option *ngFor="let t of term" [value]="t">
                      {{t}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>Mode</mat-label>
                  <mat-select name="mode" [(ngModel)]="invoice.shipment.mode">
                    <mat-option *ngFor="let mode of modes" [value]="mode.value">
                      {{mode.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>Status</mat-label>
                  <mat-select name="status" [(ngModel)]="invoice.shipment.status">
                    <mat-option *ngFor="let status of shipmentStatus" [value]="status.value">
                      {{status.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>Carrier</mat-label>
                  <input matInput type="text" placeholder="Carrier" name="carrier"
                    [(ngModel)]="invoice.shipment.carrier">
                </mat-form-field>
              </div>
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>Master BL</mat-label>
                  <input matInput type="text" placeholder="Master BL" name="master-bl"
                    [(ngModel)]="invoice.shipment.masterBL">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>House BL</mat-label>
                  <input matInput type="text" placeholder="House" name="house-bl"
                    [(ngModel)]="invoice.shipment.houseBL">
                </mat-form-field>
              </div>
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>Terminal</mat-label>
                  <input matInput type="text" placeholder="Terminal" name="terminal"
                    [(ngModel)]="invoice.shipment.terminal">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>ETA</mat-label>
                  <input matInput type="date" placeholder="mm/dd/yyyy" name="expect-time-arrival"
                    [(ngModel)]="invoice.shipment.expectedTimeOfArrival">
                </mat-form-field>
              </div>
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>Est. LFD</mat-label>
                  <input matInput type="date" placeholder="mm/dd/yyyy" name="est-last-free-day"
                    [(ngModel)]="invoice.shipment.estLastFreeDay">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>Entry Date</mat-label>
                  <input matInput type="date" placeholder="mm/dd/yyyy" name="entry-date"
                    [(ngModel)]="invoice.shipment.entryDate">
                </mat-form-field>
              </div>
              <div class="col-sm-6 row-item">
                <mat-form-field appearance="outline">
                  <mat-label>Devanning</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let option of devanningOptions" [value]="option.value">
                      {{option.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <!-- End Shipment Info -->

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="contrast-container">
        <app-container (containerAdded)="addNewContainer($event)" (containerEdited)="editContainer($event)">
        </app-container>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 offset-md-5">
      <button type="button" (click)="submitInvoice()" class="btn btn-primary submit-btn">Submit Invoice</button>
    </div>
  </div>
</div>