/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%
}

body {
    margin: 0;
}

/* Global Button Styles Start */ 
.btn {
    border-radius: 5px;
    margin-bottom: 8px;
    margin-right: 16px;
    margin-top: 16px;
    max-width: 100%;
    min-width: 120px;

}

@media screen and (max-width: 480px) {
    .btn {
        width: 100px;
    }
}

/* Global Button Styles End */

/* Global Background Styles Start */
.contrast-container {
    background-color: #ffffff;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 32px;
}

/* Global Background Styles End */

/* Global Header Styles Start */
.page-header {
    margin-top: 32px;
    margin-bottom: 16px;
}

/* Global Header Styles End */

/* Global Form Styles Start */
.form {
    mat-form-field {
        display: inline;
    }
}

/* Global Form Styles End */

/* Global Table Styles Start */
table {
    width: 100%;

    tr:hover {
        background-color:rgba(63,81,181,0.2);
        th {
            background-color: #ffffff;
        }
    }
}
/* Global Table Styles End */